#Ignore these folders
MasterThesisTemplate
biblio
images
PythonTutorials
Research
sections
Timetable and logbook
ApplyMasterProject
2011-10-04PhdThesis - Template

#Ignore these files
*.md
*.doc
*.xml
*.ps
*.zip

#Ignore any movie files
*.mp4

#Ignore these LaTex files
*.aux
*.log
*.bbl
*.blg
*.dvi
*.out
*.gz
*.tdo
*.tex
*.toc
*.odt
